body {
	background: url(../img/subtle-emboss.png);
	font-family: helvetica, arial, sans-serif;
}


/************** TYPOGRAPHY ***************/

h1, h2, h3, h4, h5, h6, p {
	font-family: helvetica, arial, sans-serif;
}
h1 {
	font-size: 60px;
	line-height: 90px;
}
h2 {
	font-size: 48px;
	line-height: 60px;
}
.about h2 {
	font-family: 'julius sans one', helvetica, sans-serif;
	font-size: 36px;
	padding: 40px 0;
	text-align: center;
}
#sam h2 {
	color: #fff;
}
#tle h2 {
	color: rgb(225,120,25);
}
h3 {
	font-size: 36px;
	line-height: 45px;
}
h4 {
	font-size: 24px;
	line-height: 30px;
}
h5 {
	font-size: 18px;
	line-height: 22px;
}
h6 {
	font-size: 16px;
	line-height: 20px;
}
p {
	font-size: 16px;
	line-height: 20px;
}
.about p,
.about li {
	font-family: 'caudex', serif;
	font-size: 18px;
	line-height: 27px;
}
#tle p {
	color: #fff;
}
.side-note {
	color: #888;
	display: block;
	font-family: 'helvetiva', sans-serif;
	font-size: 12px;
	padding-top: 20px;
}
q {
	display: block;
	line-height: 28px;
	font-style: italic;
	margin: 10px;
}

/************* LINKS **********************/

a {
	text-decoration: none;
}
a:hover {

}
/***************** LISTS ******************/
ul {
	font-family: caudex, serif;
	font-size: 16px;
	list-style: disc;
}
li {
	margin-bottom: 10px;
	margin-left: 20px;
}
/***************** MISC STYLES ************/
.about {
	/*padding-bottom: 20px;*/
}
.about img {
	border: 2px solid #000;
	margin: 140px 0 50px 20px;
	width: 90%;
}
#tle img {
	border-color: #fff;
}
.about p {
	border-left: 2px solid #888;
	padding-left: 20px;
}
#form-container {
	float: left;
	padding-bottom: 105px;
	width: 360px;
}
.wrap-1 {
	background: url(../img/wall-hash.png);
}
#tle {
	background: rgba(0,0,0,.8);
	border-top: 10px solid rgba(200,200,200,.3);
}
#sam {
	background: rgba(255,150,50,1);
	border-top: 10px solid rgb(200,100,0);
}

#dominic {
	background: rgba(255,255,255,.8);
	border-top: 10px solid rgba(200,100,0,.3);

}
label[for='form'] > p {
	background: rgba(225,120,25,1);
	border-radius: 20px;
	color: #ccc;
	font-family: 'julius sans one', helvetica;
	font-size: 14px;
	letter-spacing: -1px;
	line-height: 30px;
	margin: 25px 95px 10px 85px;
	position: relative;
	width: 160px;
	text-align: center;
}
label[for='form'] > p:after {
	background: rgba(255,255,255,.7);
	border-radius: 20px;
	color: #f00;
	content: 'GO AHEAD click it!';
	display: none;
	font-family: 'julius sans one', helvetica;
	padding: 5px;
	position: absolute;
		top: 40px;
		left: 20px;
		text-align: center;
}
label[for='form'] > p:hover:after {
	display: block;
	transition: 1s;
}
input[id='form']:checked ~ label[for='form'] > p:after {
	display: none;
	transition: 1s;
}
label[for='form'] > p:hover {
	background: rgba(225,120,25,.8);
	color: #fff;
	cursor: pointer;
	text-shadow: 0 0 5px rgba(255,255,255,.8);
	transition: 1s;
}
input[id='form'] {
	display: none;
}
iframe {
	background: #fff;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 50px;
	visibility: hidden;
}

input[id='form']:checked ~ iframe {
	visibility: visible;
}

.ribbon {
	background: rgb(255,150,50);
	color: #fff;
	font-family: 'julius sans one';
	font-size: 16px !important;
	margin: 100px auto 100px; 
	padding: 20px 20px; 
	position: relative;
	text-align: center;
	width: 430px;
}
.ribbon:before,
.ribbon:after {
	border: 30px solid rgb(225,120,25);
	content: "";
	display: block;
	position: absolute;
		bottom: -20px;
	z-index: -1;
}
.ribbon:before {
	border-left-color: transparent;
	border-right-width: 30px;
	left: -40px;
}
.ribbon:after {
	border-left-width: 30px;
	border-right-color: transparent;
	right: -40px;
}
.ribbon-content:before,
.ribbon-content:after {
	border-color: rgb(200,100,0); transparent transparent transparent;
	border-style: solid;
	content: "";
	display: block;
	position: absolute;
		bottom: -20px;
}
.ribbon-content:before {
	border-width: 20px 0 0 20px;
	left: 0;
}
.ribbon-content:after {
	border-width: 20px 20px 0 0;
	right: 0;
}
/*----header----*/

/**************************************************************/
/**************************************************************/
/***************  switch between pictures  ********************/
/**************************************************************/
/**************************************************************/
header {
	/*background: url(../img/wall1.jpg) no-repeat;*/
	/*background: url(../img/wall2.jpg) no-repeat;*/
	/*background: url(../img/wall3.jpg) no-repeat;*/
	background: url(../img/wall4.jpg) no-repeat;
	/*background: url(../img/wall5.jpg) no-repeat;*/
	/*background: url(../img/wall6.jpg) no-repeat;*/
	/*background: url(../img/wall7.jpg) no-repeat;*/
	/*background: url(../img/turntable.jpg) no-repeat;*/
	/*background: url(../img/skyline.jpg) no-repeat;*/
	/*background: url(../img/bridge.jpg) no-repeat;*/
	background-position: center;
	background-size: cover;
	border-bottom: 10px solid rgba(150,150,150,.7);
}
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/

#logo {
	float: left;
	padding-bottom: 310px;
	padding-top: 15px;
	width: 590px;
}
#logo a {
	background: #000;
	border-radius: 40px;
	color: #fff;
	font-family: 'julius sans one';
	font-size: 40px;
	line-height: 65px;
	margin-left: 10px;
	padding: 10px 15px 3px 15px;
}
#logo span {
	font-size: 48px;
}
#logo img {
	width: 80px;
}
#logo a:hover {
	color: orange;
	text-shadow: 0 0 8px #fff;
	transition: .5s;
}
/*----nav----*/

nav {
}

nav a {
}
nav a:hover {
}
#about-links-container {
	background: rgba(0,0,0,.5);
	border-radius: 50px;
	display: inline-block;
	margin: 20px auto;
	overflow: hidden;
	padding: 5px 10px;
}
.about-link {
	border: 4px solid #999;
	border-radius: 50%;
	color: #999;
	display: inline-block;
	font-size: 12px;
	line-height: 30px;
	margin: 5px 5px;
	text-align: center;
	transition: 1.5s;
	-webkit-transform: rotate(-35deg);
	width: 30px;
}
.about-link:hover {
	border-color: rgba(225,120,25,1);
	box-shadow: inset 0 0 5px rgba(255,255,255,.5), 0 0 3px #ccc;
	color: #fff;
	text-shadow: 0 0 2px rgba(225,120,25,1);
	transition: 1s;
	-webkit-transform: rotate(0deg);
}
/*----footer----*/
footer {
	background: rgba(100,100,100,.8);
	border-top: 10px solid rgba(150,150,150,.8);
}
footer p {
	color: #000;
	display: block;
	float: left;
	font-size: 10px;
	padding: 25px;
}
.social-icons {
	float: right;
	list-style: none;
	padding-right: 10px;
	padding-top: 19px;
}
.social-icons a:hover {
	position: relative;
	top: 5px;
	transition: .8s;
}
.social-icons a:active {
	box-shadow: 0 0 3px #fff;
	position: relative; 
		top: -15px;
}
.social-icons li {
	display: inline;
}

